# Ignore everything in the root except the "wp-content" directory.
/*
!.gitignore
!README.md
!wp-content/
 
# Ignore everything in the "wp-content" directory, except the "plugins"
# and "themes" directories.
wp-content/*
!wp-content/plugins/
!wp-content/themes/
 
# Ignore everything in the "plugins" directory, except:
wp-content/plugins/*
!wp-content/plugins/socialsidebarwidget.php
!wp-content/plugins/upcomingshowswidget.php
# !wp-content/plugins/my-directory-plugin/
 
# Ignore everything in the "themes" directory, except:
wp-content/themes/*
!wp-content/themes/aukland/

# Ignore .DS_Store files
*.DS_Store