/* Fonts */

body {
  /* Webkit font fix, prevents fonts from displaying too thin */
  -webkit-font-smoothing: subpixel-antialiased;
}

@font-face {
    font-family: 'intro_regular';
    src: url('fonts/intro-webfont.eot');
    src: url('fonts/intro-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/intro-webfont.woff2') format('woff2'),
         url('fonts/intro-webfont.woff') format('woff'),
         url('fonts/intro-webfont.ttf') format('truetype'),
         url('fonts/intro-webfont.svg#intro_regular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latolight';
    src: url('fonts/lato-light-webfont.eot');
    src: url('fonts/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-light-webfont.woff2') format('woff2'),
         url('fonts/lato-light-webfont.woff') format('woff'),
         url('fonts/lato-light-webfont.ttf') format('truetype'),
         url('fonts/lato-light-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1 { font-family: 'intro_regular'; }
/*  font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif; font-size: 18pt; font-weight: lighter; color: white; */

/* Top Nav Menu Stlying */

.contain-to-grid { background: none; }

.nav { 
  min-height: 61px;
  line-height: 61px;
  width:100%; 
  /*border-bottom: 1px solid #ccc;*/
  background-color: transparent;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.nav.past-main {
  background-color: rgba(219, 39, 55, 1.0);
}
ul.simple-toggle { list-style: none; padding: 0px; margin: 0px; text-align: center; }
ul.simple-toggle li { display: inline-block; text-align: left; vertical-align: top; }
ul.simple-toggle li a { display: block; margin: 18px 10px; text-decoration: none; color: #fff; border-bottom: 1px solid rgba(255, 255, 255, 0); transition: border-color .3s; }
ul.simple-toggle li h1 a { display: block; margin: 0 10px; text-decoration: none; color: #fff; border: none; }
ul.simple-toggle li a:hover { text-decoration: none; border-color: rgba(255, 255, 255, 1); transition: border-color .3s; }
ul.simple-toggle li h1 a:hover, #mobile-nav a:hover { text-decoration: none; border: none; }

.anchor-link { display: none; margin-right: 20px; text-align: left; color: #fff; text-decoration: none; float: right; }
#mobile-nav { display:none; margin: 0; float: left; line-height: 61px;}
#mobile-nav a { display: block; margin: 0 20px; text-decoration: none; color: #fff; border: none; }

@media (max-width:48.000em){
  
  ul.simple-toggle { display: none; }
  .anchor-link, #mobile-nav { display: block; }
  .anchor-link, .anchor-link:hover, .anchor-link:visited { color: #fff; text-decoration: none; }

  nav.open {
    background-color: rgba(219, 39, 55, 1.0);
    -webkit-transition: all 0;
    -moz-transition: all 0;
    -ms-transition: all 0;
    -o-transition: all 0;
    transition: all 0;
  }

  ul.open { 
    background-color: rgba(219, 39, 55, 0.75);
    /*box-shadow: 2px 2px 3px #444444;*/
    display: block;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0px;
    top: 100%;
    width: 35%;
    z-index: 500;
  }
  ul.open li { display: block; list-style: none; text-align: center; }
  ul.open li a { display: block; border-bottom: 1px solid #ccc; text-decoration: none; margin: 0 5px; padding: 5px; }
  ul.open li:hover { background-color: rgba(255, 255, 255, 0.5); }
  ul.open li:nth-child(1) { display: none; } 
  ul.open li:nth-child(6) a { border: none; } 
  
}

nav ul li a, .anchor-link { font-family: 'latolight'; }
nav ul li h1 { margin: 0; }
nav ul li h1 a { font-family: 'intro_regular'; }

ul.simple-toggle li h1 a.menu-logo, #mobile-nav {
  display: none;
  /*height: 0px;*/
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
/*ul.simple-toggle li h1 a.menu-logo.bigger {
  display: block;
  height: 61px;
}*/

/* Main Page Hero */

.main-hero {
  /*rgba(219, 39, 55, 0.75)*/
  background: url(images/bg2.jpg) no-repeat top #000;
  background-attachment: fixed;
  height: 85vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center 0px;
}

.main-hero h1 {
  color: #fff;
  margin: 30vh auto 0;
  line-height: 1.1;
  text-align: center;
  font-size: 3em;
  font-size: 11vw;
}

.overlay {
  width: 100%;
  height: 100%;

  
  background: -moz-linear-gradient(top,  rgba(219,39,55,0.65) 0%, rgba(216,123,131,0.65) 75%, rgba(255,255,255,0.9) 97%, rgba(255,255,255,1.0) 100%); /* FF3.6+ */
/*  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(219,39,55,0.65)), color-stop(80%,rgba(216,123,131,0.65)), color-stop(100%,rgba(255,255,255,0.9))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(219,39,55,0.65) 0%,rgba(216,123,131,0.65) 75%,rgba(255,255,255,0.9) 97%, rgba(255,255,255,1.0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(219,39,55,0.65) 0%,rgba(216,123,131,0.65) 75%,rgba(255,255,255,0.9) 97%, rgba(255,255,255,1.0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(219,39,55,0.65) 0%,rgba(216,123,131,0.65) 75%,rgba(255,255,255,0.9) 97%, rgba(255,255,255,1.0) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(219,39,55,0.65) 0%,rgba(216,123,131,0.65) 75%,rgba(255,255,255,0.9) 97%, rgba(255,255,255,1.0) 100%); /* W3C */

}


#otherdiv { height: 100vh; }


