/*--------------------------------------------------------------
FONTS
--------------------------------------------------------------*/

@font-face {
    font-family: 'intro_regular';
    src: url('fonts/intro-webfont.eot');
    src: url('fonts/intro-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/intro-webfont.woff2') format('woff2'),
         url('fonts/intro-webfont.woff') format('woff'),
         url('fonts/intro-webfont.ttf') format('truetype'),
         url('fonts/intro-webfont.svg#intro_regular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latolight';
    src: url('fonts/lato-light-webfont.eot');
    src: url('fonts/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-light-webfont.woff2') format('woff2'),
         url('fonts/lato-light-webfont.woff') format('woff'),
         url('fonts/lato-light-webfont.ttf') format('truetype'),
         url('fonts/lato-light-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1 { font-family: 'intro_regular'; }
h2, h3, h4, h5, nav ul li a, .anchor-link, footer p, .nav-links a { font-family: 'latolight'; }
h3, h4, h4 a, h5 a, article a, p a, .posted-on a time, .nav-links a, .nav-links a:visited { color: #222; }
p, .posted-on a { font-family: Helvetica, Arial, sans-serif; font-weight: lighter; color: #444; }
@media only screen and (min-width: 40.063em) {
  h4 {
   font-size: 1.3rem; 
  }
}
p { font-size: 0.85rem; }
@media only screen and (min-width: 40.063em) {
  p {
    font-size: 1rem;
  }
}
a {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

/*--------------------------------------------------------------
TOP NAV MENU STLYING
--------------------------------------------------------------*/

.contain-to-grid { background: none; }
.notransition { 
  -webkit-transition: none !important; 
  -moz-transition: none !important; 
  -o-transition: none !important; 
  -ms-transition: none !important; 
  transition: none !important; 
}
.nav { 
  min-height: 61px;
  line-height: 61px;
  width:100%;
  background-color: transparent;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.nav.past-aukland { background-color: rgba(219, 39, 55, 0.9); }
ul.simple-toggle { list-style: none; padding: 0px; margin: 0px; text-align: center; }
ul.simple-toggle li { display: inline-block; text-align: left; vertical-align: top; }
ul.simple-toggle li a { display: block; margin: 18px 10px; text-decoration: none; color: #fff; border-bottom: 1px solid rgba(255, 255, 255, 0); transition: border-color .3s; }
ul.simple-toggle li h1 a { display: block; margin: 0 10px; text-decoration: none; color: #fff; border: none; }
ul.simple-toggle li a:hover { text-decoration: none; border-color: rgba(255, 255, 255, 1); transition: border-color .3s; }
ul.simple-toggle li h1 a:hover, #mobile-nav a:hover { text-decoration: none; border: none; }

.anchor-link { display: none; margin-right: 20px; text-align: left; color: #fff; text-decoration: none; float: right; }
#mobile-nav { display:none; margin: 0; float: left; line-height: 61px;}
#mobile-nav a { display: none; margin: 0 20px; text-decoration: none; color: #fff; border: none; }

@media (max-width:40.000em){
  
  ul.simple-toggle { display: none; }
  .anchor-link, #mobile-nav { display: block; }
  .anchor-link, .anchor-link:hover, .anchor-link:visited { color: #fff; text-decoration: none; }

  nav.open { background-color: rgba(219, 39, 55, 0.9); }

  ul.open { 
    background-color: rgba(219, 39, 55, 0.8);
    display: block;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0px;
    top: 100%;
    width: 35%;
    z-index: 500;
  }
  ul.open li { display: block; list-style: none; text-align: center; }
  ul.open li a { display: block; border-bottom: 1px solid #ccc; text-decoration: none; margin: 0 5px; padding: 5px; }
  ul.open li:hover { background-color: rgba(255, 255, 255, 0.5); }
  ul.open li:nth-child(1) { display: none; } 
  ul.open li:nth-child(6) a { border: none; } 
  
}

nav ul li h1 { margin: 0; }
nav ul li h1 a { font-family: 'intro_regular'; }

ul.simple-toggle li h1 a.menu-logo, #mobile-nav {
  display: none;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

#content { margin-top: 50px; }

/*--------------------------------------------------------------
MAIN PAGE HERO
--------------------------------------------------------------*/

.main-hero {
  margin-top: -50px;
  background: url(images/bg3-med.jpg) no-repeat top #000;
  height: 100vmin;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center 0px;
}

@media only screen and (min-width : 1025px) {
  .main-hero {
    background-attachment: fixed;
  }   
}

.main-hero h1 {
  color: #fff;
  margin: 37vmin auto 0;
  line-height: 1;
  text-align: center;
  font-size: 17vmin;
}

.overlay {
  width: 100%;
  height: 100vmin;  
  background: -moz-linear-gradient(top,  rgba(219,39,55,0.65) 0%, rgba(216,123,131,0.65) 75%, rgba(255,255,255,0.9) 97%, rgba(255,255,255,1.0) 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(top,  rgba(219,39,55,0.65) 0%,rgba(216,123,131,0.65) 75%,rgba(255,255,255,0.9) 97%, rgba(255,255,255,1.0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(219,39,55,0.65) 0%,rgba(216,123,131,0.65) 75%,rgba(255,255,255,0.9) 97%, rgba(255,255,255,1.0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(219,39,55,0.65) 0%,rgba(216,123,131,0.65) 75%,rgba(255,255,255,0.9) 97%, rgba(255,255,255,1.0) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(219,39,55,0.65) 0%,rgba(216,123,131,0.65) 75%,rgba(255,255,255,0.9) 97%, rgba(255,255,255,1.0) 100%); /* W3C */
}

#main-content { min-height: 90vh; padding-top: 30px; }

/*--------------------------------------------------------------
MAIN PAGE CONTENT
--------------------------------------------------------------*/

#main ul { list-style: none; }
article a, article a:visited { text-decoration: none; color: black; }
figure { margin: 0; }
.entry-title { margin-bottom: 0; }
.entry-title a:hover, .entry-content p a:hover, .nav-links a:hover { color: #008CBA; }
.entry-content { margin-top: 0.5rem; }
.entry-content p { margin-bottom: 0; }
.entry-content p a { color: #000; }
.entry-content img { padding-bottom: 1rem; }
.continue { font-family: 'latolight'; padding-top: 5px; }
.wp-caption-text { font-family: 'latolight'; margin: 0; padding: 0 5px; text-align: left; }

/*--------------------------------------------------------------
SIDEBAR
--------------------------------------------------------------*/
.UpcomingShowsWidget ul, .SocialSidebarWidget ul {
  list-style: none; margin: 0;
}
/*--------------------------------------------------------------
TOUR DATES
--------------------------------------------------------------*/

.tabs dd a {
  background-color: white;
  padding: 0;
  margin: 0 1rem 0 0;
  border-bottom: 2px #fff solid;
}
.tabs dd.active a, .tabs dd a:hover { background-color: white; border-bottom: 2px #000 solid; }
.tabs h4 { margin: 0 0 0.2rem 0; }

.UpcomingShowsWidget a, .UpcomingShowsWidget a:visited {
  color: #222;
  text-decoration: none;
}

.UpcomingShowsWidget a.btn, #actions a {
  padding: 2px 5px;
  margin: 0;
  color: #222;
  border: 1px #222 solid;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  font-size: 75%;
  display: inline-block;
}
.UpcomingShowsWidget a.btn:hover, #actions a:hover {
  padding: 2px 5px;
  margin: 0;
  color: #fff;
  background-color: #444;
}
.UpcomingShowsWidget a.btn.inactive, .UpcomingShowsWidget a.btn.inactive:hover, 
#actions a.inactive, #actions a.inactive:hover {
  padding: 2px 5px;
  margin: 0;
  color: #ccc;
  border: 1px #ccc solid;
  background-color: #fff;
}
.UpcomingShowsWidget p { font-size: 1rem; margin: 0; padding: 0; }
.UpcomingShowsWidget h5, #location h4, #date p, #day p { margin: 0; padding: 0; }
.tour-links { float: right; }
a#rsvp, a:hover#rsvp, a:visited#rsvp { margin-bottom: 4px; }
.tour-date, .no-pad { padding: 0; }
.tour-date, .UpcomingShowsWidget li { border-bottom: 1px #ccc solid; padding: 10px 0; }
.tour-date li { vertical-align: middle; }
.tour-date:first-of-type, .UpcomingShowsWidget li:first-of-type { padding-top: 0px; }
.tour-date:last-of-type, .UpcomingShowsWidget li:last-of-type { border-bottom: none; padding-bottom: 0px; }
.top-pad { margin-top: 0.2rem; }

/*--------------------------------------------------------------
SOCIAL MEDIA WIDGET
--------------------------------------------------------------*/
.icon-btn, .icon-btn:visited {
  color: #222;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.icon-btn:hover { color: #008CBA; }

/*--------------------------------------------------------------
FOOTER
--------------------------------------------------------------*/

footer {
  text-align: center;
  font-family: 'latolight';
}
footer a, footer a:hover, footer a:visited { color: black; }
footer a:hover { border-bottom: 1px black solid; }
.site-info p { margin-bottom: 0; padding-bottom: 9px; }

/*--------------------------------------------------------------
MUSIC AND VIDEOS
--------------------------------------------------------------*/

.release { padding-bottom: 1rem; }

.embed-container {
  position: relative;
  padding-bottom: 79.19%;
  height: 0;
  overflow: hidden;
}

.embed-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#music-links a, #music-links a:visited { color: black; }
#music-links a:hover { color: #008cba; }

/*--------------------------------------------------------------
CONTACT
--------------------------------------------------------------*/
#contact-info h3, #contact-info h4, #contact-info h5 { margin: 0.5%; }
#email { font-size: 75%; }
#email, #email:visited { color: black; }
#email:hover { color: #008cba; }
#bio-pic { padding-bottom: 20px; }
#socialsidebarwidget-3 { padding-top: 20px; }
@media only screen and (min-width: 40.063em) {
  #email {
    font-size: 100%;
  }
}

/*-----------------------------------------------
INDEX PAGINATION
----------------------------------------------- */

/* The containing box with a nice white background */
.paging-navigation {
  font-family: sans-serif;
  background: #fff;
  background: hsl(0, 0%, 100%);
  text-align: center;
}

/* Remove bullets and list indentation */
.paging-navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Make the list items appear horizontally */
.paging-navigation li {
  display: inline;
}

/* Give each link and the current item some padding to make them easy to click */
a.page-numbers,
span.page-numbers {
  padding: .3em .7em;
  color: #333;
  color: hsl(0, 0%, 20%);
}

/* Link hover state */
a:hover.page-numbers {
  color: #000;
  color: hsl(0, 0%, 0%);
}

/* Current page bold and dark */
.paging-navigation .current {
  font-weight: bold;
  color: #000;
  color: hsl(0, 0%, 0%);
}

